config/configstore
config/htop
config/light
config/syncthing
emacs.d/straight
emacs.d/transient
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/configuration.el
emacs.d/eshell
config/pulse
config/systemd/user/default.target.wants/
emacs.d/projectile-bookmarks.eld
config/dconf
emacs.d/.lsp-session-v1
emacs.d/eln-cache