config/configstore
config/dconf
config/emacs/.lsp-session-v1
config/emacs/auto-save-list
config/emacs/configuration.el
config/emacs/eln-cache
config/emacs/elpa
config/emacs/eshell
config/emacs/projectile-bookmarks.eld
config/emacs/straight
config/emacs/transient
config/glib-2.0
config/light
config/mimeapps.list
config/nvim/plugin/packer_compiled.lua
config/pulse
config/syncthing
config/systemd/user/default.target.wants
config/user-dirs.*
